ul
    li= weekTip.height
    li= weekTip.eat
    li= weekTip.father
ul
    li= '宝宝发育：'+dayTip.baby
    if dayTip['mami_title']!=''
        li= dayTip['mami_title']+':'+dayTip['mami']
    if dayTip.tip!=''
        li= '温馨提醒：'+dayTip.tip

  
